.App{
  background-color: #F8F8F8;
}
header, table, h1, h3, h5, p, .card-body{
  font-family: 'Candara';
}
header, footer{
  background-color: #CB99C9;
}
.mb-3{
  max-width: 540px;
}

.imagen{
  height: 250px;
}
.imagen2{
  height: 350px;
}
.mb3{
  border: 1px solid gray;
}
thead{
  
  text-align: center;
  background-color: #FAC090;
}
.accordion{
  width: 100%;
}

